#forum-section {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-foreground);
  border-radius: 1rem;
  overflow: hidden;
  min-width: 60vw;
}

.forum-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--theme-background);
  border-radius: 1rem;
  border-style: solid;
}

.clicked-article {
  background-color: var(--theme-lighter);
}

.forum-reply {
  list-style: none;
  border-style: solid;
}

.forum-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--theme-background);
  border-radius: 1rem;
  border-style: solid;
}

.forum-reply-menu {
  list-style: none;
  padding: 0;
}

.forum-reply-menu-item {
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
  padding: 0.5rem;
}

.forum-reply-menu-item input {
  color: black;
}
