body {
  background: var(--theme-background);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

/* Blanket color change for all text */
* {
  color: var(--theme-contrast);
}

#root {
  width: 100%;
}

/* Fix default font size */
p,
span,
div {
  font-size: 1.6rem; /* 16px */
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem; /* 20px */
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-content-width);
}

.text-width {
  width: 100%;
  max-width: var(--text-content-width);
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;

  &.center {
    justify-content: center;
  }

  &.align {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
  align-items: center;

  &.between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.flex-row.top-align {
  align-items: flex-start;
}

span {
  font-size: 1.4rem;
  opacity: 0.8;
}

.leaflet-container {
  height: min(50vh, 40rem);
  width: min(100%, 75rem);

  .leaflet-popup-content {
    color: var(--theme-background);
  }
}