body {
  background: var(--theme-background);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

/* Blanket color change for all text */
* {
  color: var(--theme-contrast);
}

/* Fix default font size */
p,
span,
div {
  font-size: 1.6rem; /* 16px */
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem; /* 20px */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-content-width);
}

.text-width {
  width: 100%;
  max-width: var(--text-content-width);
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;

  &.center {
    justify-content: center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
  align-items: center;

  &.center {
    justify-content: center;
  }
}

.profile-image {
  padding: 2rem;
}

.profile-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.profile-detail-row {
  display: flex;
}

.profile-label {
  width: 120px;
  font-weight: bold;
}

.profile-value {
  flex: 1;
}
