.category {
  margin-bottom: 3rem;
  font-family: sans-serif;
  background-color: var(--theme-foreground);
  border-radius: 8px;
  margin: 1rem;
}

.category-image {
  border-radius: 8px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.category img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 8px;
}

.category-title {
  background-color: var(--theme-foreground);
  font-size: x-large;
  margin-left: 1rem;
  margin-right: 1rem;

  border-bottom: 2px solid var(--theme-lighter);
  padding: 1rem;
  color: var(--theme-contrast);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  margin-right: 1rem;
}

.item {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--theme-foreground);
  border-radius: 8px;
  background-color: var(--theme-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--theme-contrast);
  gap: 1rem;
}

.item-header h3 {
  flex: 1;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.item-header span {
  white-space: nowrap;
  font-weight: bold;
}

.item img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.description {
  margin: 0.5rem 0;
  color: var(--theme-contrast);
  font-size: medium;
}

.allergens {
  font-size: 0.9rem;
  color: var(--theme-lighter);
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.add-to-cart-btn,
.remove-from-cart-btn {
  color: var(--theme-background);
  padding: 0.5rem;
  font-weight: bold;
}

.add-to-cart-btn:hover,
.remove-from-cart-btn:hover {
  background-color: var(--theme-foreground);
  color: var(--theme-contrast);
}

.order-button,
.clear-cart-btn,
.place-order-btn {
  color: var(--theme-background);
  padding: 1rem;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  font-weight: bold;
}

.order-button:hover,
.clear-cart-btn:hover,
.place-order-btn:hover {
  background-color: var(--theme-foreground);
  color: var(--theme-contrast);
}

.cart-total {
  display: flex;
  justify-content: center;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cart-amount-display {
  padding: 0.4em 0.7em;
  background-color: var(--theme-contrast);
  border-radius: 2px;
  border: 1px solid var(--theme-foreground);
  min-width: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--theme-background);
}

.games-container {
  background-color: var(--theme-foreground);
  display: grid;

  padding: 1rem;
  max-width: var(--text-content-width);
  font-family: sans-serif;
  background-color: var(--theme-foreground);
  border-radius: 8px;
  margin: 1rem;
  width: 100%;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
  width: 100%M
}
