.menu-category {
  margin-bottom: 3rem;
  font-family: sans-serif;
  background-color: var(--theme-foreground);
  border-radius: 8px;
  margin: 1rem;
}

.category-image {
  border-radius: 8px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.menu-category img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 8px;
}

.category-title {
  background-color: var(--theme-foreground);
  font-size: x-large;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 8px;
  border-bottom: 2px solid var(--theme-lighter);
  padding: 1rem;
  color: var(--theme-contrast);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  margin-right: 1rem;
}

.menu-item {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--theme-foreground);
  border-radius: 8px;
  background-color: var(--theme-background);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  background-color: var(--theme-foreground);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--theme-contrast);
}

.description {
  margin: 0.5rem 0;
  color: var(--theme-contrast);
  font-size: medium;
}

.allergens {
  font-size: 0.9rem;
  color: var(--theme-lighter);
}
