.btn {
  padding: 0.8rem 1.6rem;
  font-size: 2.4rem;
  border-radius: 1.2rem;
  border: 0.25rem solid var(--theme-lighter);
  box-sizing: border-box;
  background: var(--theme-foreground);

  &:hover {
    background: var(--theme-darker);
    cursor: pointer;
  }
}