.btn {
  padding: 0.8rem 1.6rem;
  font-size: 2.4rem;
  border-radius: 1.2rem;
  border: 0.25rem solid var(--theme-lighter);
  box-sizing: border-box;
  background: var(--theme-foreground);
  margin: 0.4rem;

  &:hover {
    background: var(--theme-darker);
    cursor: pointer;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.8rem;

  .input-label {
    font-size: 2rem;
  }

  .input-field {
    font-size: 2rem;
    padding: 0.2rem 0.4rem;
    border: none;
    background: var(--theme-foreground);
    border-radius: 0.8rem;
    width: min-content;
    max-width: 32rem;
  }
}

.language-select {
  background: var(--theme-foreground);
  font-size: 2rem;
  padding: 0.4rem;
}

#header {
  display: flex;
  justify-content: space-between;
  /*align-items: stretch;
  padding: 0rem 2rem;
  */
  background: var(--theme-foreground);
  font-size: 1.5rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#header * {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#header h1 a {
  font-size: 2.4rem;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
}

#header li a {
  padding: 2rem;
}

#header li:hover {
  background-color: var(--theme-background);
}

.active-link {
  background-color: var(--theme-background);
}

/*
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
