.btn {
  transition: 0.2s ease-out;
  background: var(--theme-contrast);
  color: var(--theme-foreground);
  width: var(--button-width);
  border: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 0.8rem;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.6);

  &:hover {
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem 0.1rem rgba(0, 0, 0, 0.6);
    color: var(--theme-background);
    transform: translateY(0.4rem);
  }

  &:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    transform: translateY(0.6rem);
  }
}

.btn-old {
  padding: 0.8rem 1.6rem;
  font-size: 2.4rem;
  border-radius: 1.2rem;
  border: 0.25rem solid var(--theme-lighter);
  box-sizing: border-box;
  background: var(--theme-foreground);
  margin: 0.4rem;

  &:hover {
    background: var(--theme-darker);
    cursor: pointer;
  }
}

.btn-smaller {
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;
  border: 0.25rem solid var(--theme-lighter);
  box-sizing: border-box;
  background: var(--theme-foreground);

  &:hover {
    background: var(--theme-darker);
    cursor: pointer;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.8rem;

  .input-label {
    font-size: 2rem;
  }

  .input-and-icon {
    padding: 0.8rem;
    border: 0.2rem solid var(--theme-contrast);
    background: var(--theme-background);
    border-radius: 0.5rem;
    width: var(--input-width);

    .input-icon {
      width: var(--icon-width);
      height: var(--icon-width);
    }

    .input-field {
      font-size: 2rem;
      background: none;
      border: none;
      padding: 0;
      margin: 0;

      &:focus {
        outline: none;
      }
    }
  }
}

.language-select {
  background: var(--theme-foreground);
  font-size: 2rem;
  padding: 0.4rem;
}

#header {
  display: flex;
  justify-content: space-between;
  /*align-items: stretch;
  padding: 0rem 2rem;
  */
  background: var(--theme-foreground);
  font-size: 1.5rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#header * {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#header h1 a {
  font-size: 2.4rem;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
}

#header li a {
  padding: 2rem;
}

#header li:hover {
  background-color: var(--theme-background);
}

.active-link {
  background-color: var(--theme-background);
}

table {
  text-align: center;
  border-collapse: collapse;
}

thead {
  background-color: var(--theme-darker);
  font-weight: normal;
}

th {
  font-weight: normal;
  color: var(--theme-contrast);
}

th,
td {
  border: 1px solid var(--theme-contrast);
  padding: 1rem;
}

/*
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
