:root {
  --theme-darker: #0b132b;
  --theme-background: #1c2541;
  --theme-foreground: #3a506b;
  --theme-lighter: #779cab;
  --theme-contrast: #f0eff4;
  --loading-wheel: #433a6b;
  font-size: 62.5%; /* 1rem = 10px */

  font-family: "Roboto", sans-serif;

  /* Content width */
  --max-content-width: 120rem;
  --text-content-width: 80rem;
  --medium-content-width: 40rem;
  --input-width: 30rem;
  --button-width: 30rem;
  --icon-width: 2.5rem;
  --loading-wheel-size: 20rem;
}
